<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <form name="location" ng-submit='sendData(selected)' novalidate>
        <div class="form-group">
          <label for="group-form">Group Name</label>
          <input name="group" type="text" class="form-control" id="group-form" placeholder="Group Name" ng-model="data.group">
        </div>
        <pre>
          {{selected}}
        </pre>
        <div class="form-group">
          <label for="destination-form">Destination</label>
          <input type="text" id="destination-form" placeholder="To" ng-model="selected" typeahead-min-length="2"
          uib-typeahead="(destination.name + ', ' + parseStateNames(destination.permalink)
          + destination.country_name.toUpperCase()) for destination in destinations | filter:$viewValue | limitTo:8"
          class="form-control" autocomplete="off">

          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
          <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No Results Found
          </div>
        </div>
        <button type="submit" class="btn btn-default" ng-disabled="location.$invalid">Submit</button>
      </form>
      <div ng-if='location.destination.$error.required && location.$dirty'>
        <h2> Please enter a destination </h2>
      </div>
    </div>
  </div><!-- ./row -->
</div><!-- ./container -->
